Source: turnkey-keyring
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: debhelper (>> 4.2.0)
Standards-Version: 3.6.1

Package: turnkey-keyring
Architecture: all
Depends: gnupg
Recommends: apt
Section: misc
Description: Turnkey Linux Release Keyring
